<app-main-header [header]="headingText" [breadCrumbs]="breadCrumbs"></app-main-header>

<div class="row mb-4">
  <div class="col-12 text-end">
    <button type="button" class="btn btn-primary btn-sm btn-mr" data-bs-toggle="modal" data-bs-target="#new-knowledgebase-category-child-modal">
      <span class="fa fa-plus"></span> Add Knowledgebase Category Child
    </button>
    <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#new-knowledgebase-modal">
      <span class="fa fa-plus"></span> Add Knowledgebase
    </button>
  </div>
</div>

<h2>Children</h2>
<ul class="nav nav-pills">
  <li class="nav-item me-1 mb-1" *ngFor="let category of childCategories">
    <a class=" btn btn-outline-secondary" aria-current="page" [routerLink]="['/knowledgebase','category', category.uuid]"><span class="fa fa-folder"></span> {{category.name}}</a>
  </li>
</ul>

<hr/>

<h2>Knowledgebases</h2>

<pre>
  {{knowledgebases|json}}
</pre>

<!-- Modal -->
<div class="modal fade" id="new-knowledgebase-category-child-modal" tabindex="-1" aria-labelledby="new-child-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="new-child-modal">New Knowledgebase Category Child</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-knowledgebase-category-form
          *ngIf="!loading"
          [parentKnowledgebaseCategory]="this.activeKnowledgebaseCategory"
          (knowledgebaseCategoryCreated)="handleKnowledgebaseCategoryCreated()"
        ></app-knowledgebase-category-form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #childCategoryCloseButton>Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="new-knowledgebase-modal" tabindex="-1" aria-labelledby="new-knowledgebase-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="new-knowledgebase-modal-label">New Knowledgebase</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        .. This is the body of the modal
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #childCategoryCloseButton>Close</button>
      </div>
    </div>
  </div>
</div>
