<app-main-header [header]="headingText" [subHeader]="subHeaderText" [breadCrumbs]="breadCrumbs"></app-main-header>

<div class="row mb-4">
  <div class="col-12 text-end">
    <button
      class="btn btn-primary btn-sm"
      data-bs-toggle="modal"
      data-bs-target="#update-knowledgebase-category-child-modal"
    >
      <span class="fa fa-edit"></span> Update Knowledgebase Category
    </button>
  </div>
</div>

<h2>Children</h2>
<ul class="nav nav-pills">
  <li class="nav-item me-1 mb-1">
    <a class="btn btn-outline-secondary" aria-current="page" [routerLink]="backLink()">
      <span class="fa fa-arrow-left"></span>
    </a>
  </li>
  <li class="nav-item me-1 mb-1" *ngFor="let category of childCategories">
    <a
      class="btn btn-outline-secondary"
      aria-current="page"
      [routerLink]="['/knowledgebase','category', category.uuid]"
    ><span class="fa fa-folder"></span> {{category.name}}</a>
  </li>
  <li class="nav-item me-1 mb-1">
    <a
      class="btn btn-outline-secondary"
      aria-current="page"
      data-bs-toggle="modal"
      data-bs-target="#new-knowledgebase-category-child-modal"
    >
      <span class="fa fa-plus"></span> New
    </a>
  </li>
</ul>

<hr/>
<div class="row">
  <div class="col-6">
    <h2>Knowledgebases</h2>
  </div>

  <div class="col text-end">
    <button
      *ngIf="activeKnowledgebase"
      class="btn btn-primary btn-sm"
      data-bs-toggle="modal"
      data-bs-target="#update-knowledgebase-modal"
    ><span class="fa fa-edit"></span> Edit</button>
  </div>
</div>


<ul class="nav nav-pills">
  <li class="nav-item me-1 mb-1" *ngFor="let knowledgebase of knowledgebases">
    <a
      class="btn"
      aria-current="page"
      (click)="selectKnowledgebase(knowledgebase)"
      [ngClass]="{'btn-outline-secondary': knowledgebase.uuid !== activeKnowledgebase.uuid, 'btn-secondary': knowledgebase.uuid == activeKnowledgebase.uuid }"
    ><span class="fa fa-book"></span> {{knowledgebase.name}} ({{knowledgebase.item_count}})</a>
  </li>
  <li class="nav-item me-1 mb-1">
    <a
      class="btn btn-outline-secondary"
      aria-current="page"
      data-bs-toggle="modal"
      data-bs-target="#new-knowledgebase-modal"
    >
      <span class="fa fa-plus"></span> New
    </a>
  </li>
</ul>



<div *ngIf="activeKnowledgebase">
  <hr/>
  <div class="row">
    <div class="col-sm-6">
      <h2>Knowledgebase Items</h2>

    </div>

    <div class="col-sm-6 text-end">
      <a
        class="btn btn-success btn-sm"
        data-bs-toggle="modal"
        data-bs-target="#new-knowledgebase-item-modal"
        *ngIf="activeKnowledgebase"
      >
        <span class="fa fa-plus"></span> New
      </a>
    </div>
  </div>

  <spinner [show]="loadingKnowledgebaseItems"></spinner>

  <p *ngIf="knowledgebaseItems.length === 0 && !loadingKnowledgebaseItems">No knowledgebase items</p>

  <table datatable class="row-border hover w-100" *ngIf="!loadingKnowledgebaseItems && knowledgebaseItems.length > 0">
    <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th>Created</th>
      <th>Updated</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let knowledgebaseItem of knowledgebaseItems">
      <td>
        <a
          href="#"
          data-bs-toggle="modal"
          data-bs-target="#knowledgebase-item-modal"
          (click)="selectKnowledgebaseItem(knowledgebaseItem)"
        >{{knowledgebaseItem.name}}</a>
      </td>
      <td>{{knowledgebaseItem.contents|truncate:[50]}}</td>
      <td>{{formatDate(knowledgebaseItem.created_at)}}</td>
      <td>{{formatDate(knowledgebaseItem.updated_at)}}</td>
    </tr>
    </tbody>
  </table>
</div>

<!-- MODALS -->
<!-- ------------------------------------------------------------------------------------------------------------------>

<!-- New Knowledgebase category modal -->
<div
  class="modal fade"
  id="new-knowledgebase-category-child-modal"
  tabindex="-1"
  aria-labelledby="new-child-modal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="new-child-modal">New Knowledgebase Category Child</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-knowledgebase-category-form
          *ngIf="!loading"
          [parentKnowledgebaseCategory]="this.activeKnowledgebaseCategory"
          (knowledgebaseCategoryCreated)="handleKnowledgebaseCategoryCreated()"
        ></app-knowledgebase-category-form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #childCategoryCloseButton>Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Update Knowledgebase category modal -->
<div
  class="modal fade"
  id="update-knowledgebase-category-child-modal"
  tabindex="-1"
  aria-labelledby="update-knowledgebase-category-modal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="update-knowledgebase-category-modal">Update Knowledgebase Category</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-knowledgebase-category-form
          *ngIf="!loading"
          [parentKnowledgebaseCategory]="this.activeKnowledgebaseCategory"
          (knowledgebaseCategoryUpdated)="handleKnowledgebaseCategoryUpdated()"
          [knowledgebaseCategory]="activeKnowledgebaseCategory"
        ></app-knowledgebase-category-form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          #knowledgebaseCategoryUpdateModalCloseButton
        >Close</button>
      </div>
    </div>
  </div>
</div>

<!-- New Knowledgebase Modal -->
<div
  class="modal fade"
  id="new-knowledgebase-modal"
  tabindex="-1"
  aria-labelledby="new-knowledgebase-modal-label"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="new-knowledgebase-modal-label">New Knowledgebase</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-knowledgebase-form
          [knowledgebaseCategory]="activeKnowledgebaseCategory"
          (knowledgebaseCreated)="handleKnowledgebaseCreated()"
        ></app-knowledgebase-form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          #knowledgebaseModalCloseButton
        >Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Update Knowledgebase Modal -->
<div
  class="modal fade"
  id="update-knowledgebase-modal"
  tabindex="-1"
  aria-labelledby="update-knowledgebase-modal-label"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="update-knowledgebase-modal-label">Update Knowledgebase</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="!selectingKnowledgebase">

        <app-knowledgebase-form
          *ngIf="!selectingKnowledgebase"
          [knowledgebaseCategory]="activeKnowledgebaseCategory"
          [knowledgebase]="activeKnowledgebase"
          (knowledgebaseUpdated)="handleKnowledgebaseUpdated()"
        ></app-knowledgebase-form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          #updateKnowledgebaseModalCloseButton
        >Close</button>
      </div>
    </div>
  </div>
</div>

<!-- New Knowledgebase item Modal -->
<div
  class="modal fade"
  id="new-knowledgebase-item-modal"
  tabindex="-1"
  aria-labelledby="new-knowledgebase-item-modal-label"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="new-knowledgebase-item-modal-label">New Knowledgebase Item</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-knowledgebase-item-form
          [knowledgebase]="activeKnowledgebase"
          [knowledgebaseCategory]="activeKnowledgebaseCategory"
          (knowledgebaseItemCreated)="handleKnowledgebaseItemCreated()"
          *ngIf="!loadingKnowledgebases"
        ></app-knowledgebase-item-form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          #knowledgebaseItemModalCloseButton
        >Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Knowledgebase item Modal -->
<div
  class="modal fade"
  id="knowledgebase-item-modal"
  tabindex="-1"
  aria-labelledby="knowledgebase-item-modal-label"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content" *ngIf="activeKnowledgebaseItem">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="knowledgebase-item-modal-label">{{activeKnowledgebaseItem.name}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div *ngIf="!editingKnowledgebaseItem">
          <p class="mb-4">
            <b>Name</b><br/>
            {{activeKnowledgebaseItem.name}}
          </p>

          <p class="mb-4">
            <b>Content</b><br/>
            <markdown emoji lineNumbers [data]="activeKnowledgebaseItem.contents"></markdown>
          </p>

          <p class="mb-4">
            <b>Dates</b><br/>
            <span class="text-muted text-small">Created: {{formatDate(activeKnowledgebaseItem.created_at)}}<br/>
            Updated: {{formatDate(activeKnowledgebaseItem.updated_at)}}</span>
          </p>

          <button
            class="btn btn-primary me-2"
            (click)="editingKnowledgebaseItem = !editingKnowledgebaseItem"
          ><span class="fa fa-edit"></span> Edit</button>
          <button
            class="btn btn-danger"
            [swal]="{ title: 'Delete Knowledgebase Item?', showCancelButton: true }"
            (confirm)="deleteKnowledgebaseItem()">
            <span class="fa fa-trash">

            </span> Delete
          </button>

        </div>

        <div *ngIf="editingKnowledgebaseItem">
          <app-knowledgebase-item-form
            [knowledgebase]="activeKnowledgebase"
            [knowledgebaseCategory]="activeKnowledgebaseCategory"
            [knowledgebaseItem]="activeKnowledgebaseItem"
            (knowledgebaseItemUpdated)="handleKnowledgebaseItemUpdated($event)"
          ></app-knowledgebase-item-form>

          <button class="btn btn-danger mt-3" (click)="editingKnowledgebaseItem = !editingKnowledgebaseItem">Cancel</button>

        </div>

      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          #knowledgebaseItemCloseButton
        >Close</button>
      </div>
    </div>
  </div>
</div>
