<app-main-header [header]="'Boards'" [breadCrumbs]="breadCrumbs"></app-main-header>

<div class="row mb-4">
  <div class="col-12 text-end">
    <a
      class="btn btn-secondary btn-sm btn-mr"
      [routerLink]="['/boards/board-templates']"
    >
      <span class="fa fa-cog"></span> Board Templates
    </a>
  </div>
</div>

<div class="row" *ngIf="!loading">

  <div class="col-sm-12 col-lg-3 mb-3" *ngFor="let board of boards">
    <div class="card h-100">
      <div class="card-body p-3 d-flex align-items-center">
        <div class="bg-primary text-white p-3 me-3">
          <span class="fa fa-chess-board"></span>
        </div>
        <div>
          <div class="fs-6 fw-semibold text-primary">
            <a [routerLink]="['/boards/', board.uuid]" class="btn-link">
              {{board.name}}
            </a>
          </div>
          <div class="text-medium-emphasis text-uppercase fw-semibold small">{{board.description}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6 col-lg-3 mb-3">
    <div class="card h-100">
      <div class="card-body p-3 d-flex align-items-center">
        <div class="bg-success text-white p-3 me-3">
          <span class="fa fa-plus"></span>
        </div>
        <div>
          <div class="fs-6 fw-semibold text-primary">
            <a [routerLink]="['/boards/', 'create']" class="btn-link">
              <span class="fa fa-plus"></span> Create New
            </a>
          </div>
          <div class="text-medium-emphasis text-uppercase fw-semibold small">
            Create a new board
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
