<app-main-header [title]="'Update workspace'" [breadCrumbs]="breadCrumbs"></app-main-header>
<spinner [show]="loading"></spinner>
@if (!loading) {
  <div>
    <app-workspace-form (workspaceUpdated)="workspaceUpdated()" [workspace]="workspace"></app-workspace-form>
  </div>
}

@if (!loading) {
  <div>
    <div class="card mt-3">
      <div class="card-header">
        Users with access to this workspace
      </div>
      <div class="card-body">
        <spinner [show]="loadingMembers"></spinner>
        @if (!loadingMembers) {
          <div>
            @if (workspaceMembers.length == 0) {
              <div>
                <p>No members have access to this workspace</p>
              </div>
            }
            @if (workspaceMembers.length > 0) {
              <div>
                @for (workspaceMember of workspaceMembers; track workspaceMember) {
                  <div>
                    <div class="row">
                      <div class="col-3">
                        <img
                          ngSrc="{{apiUrl}}storage/{{workspaceMember.user.avatar}}"
                          alt="{{workspaceMember.user.name}}"
                          [width]="50"
                          [height]="50"
                          >
                      </div>
                      <div class="col-3">
                        <p>{{workspaceMember.user.name}}</p>
                      </div>
                      <div class="col-3">
                        <p>{{workspaceMember.user.email}}</p>
                      </div>
                      <div class="col-3 text-end">
                        @if (workspaceMember.uuid) {
                          <button
                            class="btn btn-danger float-right"
                            [swal]="{ title: 'Are you sure?', text: 'This user will no longer have access to this workspace', showCancelButton: true }"
                            (confirm)="removeMember(workspaceMember.uuid)"
                          >Remove</button>
                        }
                      </div>
                    </div>
                  </div>
                }
              </div>
            }
          </div>
        }
        <hr/>
        <h5 class="card-title">Invite a user to use this workspace</h5>
        <app-workspace-invite-form [workspaceUuid]="workspace.uuid"></app-workspace-invite-form>
      </div>
    </div>
  </div>
}
