<ul class="nav nav-pills">
  <li class="nav-item me-1 mb-1">
    <a class="btn btn-outline-secondary" aria-current="page" [routerLink]="backLink">
      <span class="fa fa-arrow-left"></span>
    </a>
  </li>
  <li class="nav-item me-1 mb-1" *ngFor="let category of childCategories">
    <a
      class="btn btn-outline-secondary"
      aria-current="page"
      [routerLink]="['/knowledgebase','category', category.uuid]"
    ><span class="fa fa-folder"></span> {{category.name}}</a>
  </li>
  <li class="nav-item me-1 mb-1">
    <a
      class="btn btn-outline-secondary"
      aria-current="page"
      data-bs-toggle="modal"
      data-bs-target="#new-knowledgebase-category-child-modal"
    >
      <span class="fa fa-plus"></span> New
    </a>
  </li>
</ul>
