<spinner [show]="loadingForm"></spinner>
@if (!loadingForm) {
  <form [formGroup]="workspaceInviteForm" (ngSubmit)="handleSubmit()">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        [ngClass]="{'is-invalid': !isValid('email')}"
        id="email"
        name="email"
        formControlName="email"
        placeholder="name@example.com"
        required
        >
      <div class="form-text">We'll send an invitation to this email address.</div>
      @if (!isValid('email')) {
        <div class="invalid-feedback">
          {{ getErrorMessage('email') }}
        </div>
      }
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!workspaceInviteForm.valid">Invite</button>
  </form>
}
