<ul class="nav nav-pills">
  <li class="nav-item me-1 mb-1" *ngFor="let knowledgebase of knowledgebases">
    <a
      class="btn"
      aria-current="page"
      (click)="selectKnowledgebase(knowledgebase)"
      [ngClass]="{'btn-outline-secondary': knowledgebase.uuid !== activeKnowledgebase.uuid, 'btn-secondary': knowledgebase.uuid == activeKnowledgebase.uuid }"
    ><span class="fa fa-book"></span> {{knowledgebase.name}} ({{knowledgebase.item_count}})</a>
  </li>
  <li class="nav-item me-1 mb-1">
    <a
      class="btn btn-outline-secondary"
      aria-current="page"
      data-bs-toggle="modal"
      data-bs-target="#new-knowledgebase-modal"
    >
      <span class="fa fa-plus"></span> New
    </a>
  </li>
</ul>
