/* You can add global styles to this file, and also import other style files */
@use "assets/scss/login-page";
@use "assets/scss/sidebar";
@use "assets/scss/navbar";

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  min-height: -moz-available;
  min-height: -webkit-stretch;
  min-height: stretch;
  overflow-x: hidden;
}

html {
  height: 100vh;
  height: -webkit-strech;
}

.btn-mr {
  margin-right: 10px;
}


